.header{
  font-family: Champagne, Arial;
  font-color: black, brown;
  margin: 1px;
  font-size: 40px;
}
h1, h2 {
  font-family: Champagne, Arial;
  font-color: black, brown;
}
h2{
  margin: 2px;
  font-size: 40px;
}
h1 {
  font-size: 50px;
}
.description{
  font-family: Champagne, Arial;
  font-color: black, brown;
  margin: 2px;
  font-size: 20px;
}
.description p{
  font-family: Chmapange;
  font-size: 20px;
}
.going-back a{
  color: black;
  font-family: Champagne;
}
.going-back a:visited{
  color: purple;
}
.going-back a:hover{
  color: brown;
}
