html{
 height: 100vh;
 background-color: #c19a6b;
}
body{
  height: 100vh;
  color: #225562;
  background: #c19a6b;
  font-family: Champagne;
  font-size: 40px;
}
.description{
  height: 90vh;
  color: #225562;
  font-size: 30px;
  text-align: center;
  position: fixed;
  width: 90%;
}
.description img{
  display: 50%;
  height: 60%;
  width: 60%;
}
.ingrdients{
  height: 90vh;
  color: #225562;
  font-size: 30px;
  text-align: center;
  position: fixed;
  width: 90%;
}
.steps{
  height: 90vh;
  color: #225562;
  font-size: 30px;
  text-align: center;
  position: fixed;
  width: 90%;
}
.going-back a{
  font-family: Champagne, Arial;
  color: black;
}
.going-back a:visited{
  color: purple;
}
.going-back a:hover{
  color: blue;
}
Footer
© 2023 GitHub, Inc.
