html{
  min-height: 90vh;
  max-height: 100vh;
  background: #BD9A7A;
}
.container {
  height: 90%;
  width: 90%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-height: 1000px;
  max-width: 1000px;
}
body{
  display: flex;
  height: 300vh;
  margin: 0;
  background-color: #BD9A7A;
  text-align: center;
  font-family: Tahoma;
  font-size: 30px;
} 
img{
  display: 50%;
  height: 60%;
  width: 60%;
  max-width: 200px;
  max-height: 200px;
}
.top, .middle, .bottom{
  text-align: center;
}
.projectBy  {
    display: block;
    color: white;
    font-size: 3vw;
    margin-top: 1vw;
}

#TOP {
    margin: 1vw 0;
    width: 18vw;
  color: white;
    display: block;
    transform: translateX(1.5%);
}
a {
  font-size: 20px;
  color: #622F22;
  text-align: center;
}
a:visited{
  color: purple;
}
a:hover{
  color: blue;
}
