html{
  min-height: 100vh;
  max-height: 100vh;
  background: #fdf5e6;
}
.container {
  height: 100vh;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  max-height: 500px;
  max-width: 500px;
}
.description{
  position: absolute;
  border: 0.25vw solid black;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}
h1{
  font-size: 40px;
  color: black;
  text-align: center;
}
body{
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #BD9A7A;
  text-align: center;
  font-family: Tahoma;
  font-size: 30px;
} 
img{
  display: 50%;
  height: 60%;
  width: 60%;
  max-width: 200px;
  max-height: 200px;
}
.top, .middle, .bottom{
  text-align: center;
}
.projectBy  {
  display: block;
  color: white;
  font-size: 10px;
}

#TOP {
  color: white;
  display: block;
}
a {
  font-size: 20px;
  color: #622F22;
  text-align: center;
}
a:visited{
  color: purple;
}
a:hover{
  color: blue;
}
