html{
  min-height: 90vh;
  background: #BD9A7A;
}
title{
  text-align: center;
  position: absolute;
  font-color: #645452;
}
body{
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #BD9A7A;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 30px;
} 
.container{
  max-width: 60vh;
  text-align: left;
}
img{
  display: 50%;
  height: 60%;
  width: 60%;
  max-width: 200px;
  max-height: 200px;
}
.topOverlay{
  text-align: center;
}
a {
  font-size: 20px;
  color: #622F22;
  text-align: center;
}
a:visited{
  color: purple;
}
a:hover{
  color: blue;
}
